{% extends 'base.html' %} {%block head%}
<title>{{'Editar' if 'Editar' in titulo_pagina else 'Criar'}} Tarefa</title>
{%endblock%} {%block body%}
<h1>{{ titulo_pagina }}</h1>

<form method="POST" class="flex flex-col">

  {{form_tarefa.hidden_tag()}}

  <div class="flex flex-col">
    <label for="titulo_tarefa">Título da tarefa</label>
    {{form_tarefa.titulo_tarefa(id="titulo_tarefa", type="text", placeholder="Título..." )}}
  </div>

  <div class="flex flex-col">
    <label for="descricao_tarefa">Descrição da tarefa</label>
    {{form_tarefa.descricao_tarefa(id="descricao_tarefa", type="text", placeholder="Descrição...")}}
  </div>

  <div class="flex flex-col">
    <label for="importancia_tarefa">Importância</label>
    {{form_tarefa.importancia_tarefa(id="importancia_tarefa")}}
  </div>

  <div class="flex flex-col">
    <label for="data_conclusao_tarefa">Data limite</label>
    {{form_tarefa.data_conclusao_tarefa(id="data_conclusao_tarefa", placeholder="Data para realização da tarefa...")}}
  </div>

  {{form_tarefa.submit_tarefa(type="submit")}}
</form>
{%endblock%}
